---
import '../styles/fonts.css';
import '../styles/typography.css';
import '../styles/global.css';
import { WEB_URI } from '@pension-act/constants';
---

<html lang="en">
	<head>
		<title>Pension Act</title>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="ต้องการ 10,000 ชื่อ เปลี่ยนจากเบี้ยยังชีพแบบรัฐสงเคราะห์ ให้เป็นบำนาญถ้วนหน้าด้วยรัฐสวัสดิการ"
		/>
		<meta
			property="og:title"
			content="ร่วมลงชื่อเสนอกฎหมาย บำนาญพื้นฐานแห่งชาติ"
		/>
		<meta
			property="og:description"
			content="ต้องการ 10,000 ชื่อ เปลี่ยนจากเบี้ยยังชีพแบบรัฐสงเคราะห์ ให้เป็นบำนาญถ้วนหน้าด้วยรัฐสวัสดิการ"
		/>
		<meta property="og:image" content="/og.jpg" />

		<script
			type="text/partytown"
			defer
			data-domain={WEB_URI}
			src="https://analytics.punchup.world/js/plausible.js"></script>
	</head>

	<body>
		<main class="body-03-normal">
			<slot />
		</main>
	</body>
</html>
