@font-face {
	font-family: 'FC Minimal';
	font-weight: 700;
	src: url('/fonts/FC Minimal Bold.ttf');
}

@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-weight: 600;
	src: url('/fonts/IBMPlexSansThai-SemiBold.ttf');
}

@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-weight: 700;
	src: url('/fonts/IBMPlexSansThai-Bold.ttf');
}

@font-face {
	font-family: 'IBM Plex Sans Thai Looped';
	font-weight: 400;
	src: url('/fonts/IBMPlexSansThaiLooped-Regular.ttf');
}

@font-face {
	font-family: 'IBM Plex Sans Thai Looped';
	font-weight: 600;
	src: url('/fonts/IBMPlexSansThaiLooped-SemiBold.ttf');
}

@font-face {
	font-family: 'IBM Plex Sans Thai Looped';
	font-weight: 700;
	src: url('/fonts/IBMPlexSansThaiLooped-Bold.ttf');
}
