---
import Main from '../layouts/main.astro';
import SignatureForm from '../components/signature-form.svelte';
import EventReason from '../components/event-reasons.svelte';
import Welcome from '../components/welcome.svelte';
import TableRegister from '../components/table-register.svelte';
---

<Main>
	<div class="flex flex-col justify-center items-center">
		<section class="bg-primary min-h-screen flex justify-center items-center">
			<Welcome client:load />
		</section>

		<section id="event-reasons" class="bg-[#F8EB54]">
			<EventReason />
		</section>

		<section id="table-register">
			<TableRegister />
		</section>

		<section class="bg-base-300">
			<div>
				<SignatureForm client:load />
			</div>
		</section>
	</div>
</Main>
