---
import Main from '../layouts/main.astro';
import SignatureForm from '../components/signature-form.svelte';
---

<Main>
	<div class="flex flex-col justify-center items-center">
		<section class="bg-primary">
			<div>
				<h1 class="text-2xl text-bold text-base-100">CONFORALL</h1>
				<a href="/locations" class="btn btn-secondary">See locations</a>
			</div>
		</section>

		<section class="bg-base-300">
			<div>
				<SignatureForm client:load />
			</div>
		</section>
	</div>
</Main>
