---
import Main from '../layouts/main.astro';
import EventReason from '../components/event-reasons.svelte';
import Welcome from '../components/welcome.svelte';
import TableRegister from '../components/table-register.svelte';
import Partner from '../components/partner.svelte';
import Petition from '../components/petition.svelte';
import Navbar from '../components/navbar.svelte';
import { countSubmittedDocuments } from '../utils/firebase';

const documentCount = await countSubmittedDocuments();
---

<script>
	const handleIntersection: IntersectionObserverCallback = (entries) => {
		entries.forEach((entry) => {
			const nav = document.getElementById('nav');
			if (entry.isIntersecting) {
				nav?.setAttribute(
					'class',
					'fixed invisible max-h-0 opacity-0 bg-primary p-0 w-screen fixed bottom-0 z-50 transition-all duration-300 ease-out',
				);
			} else {
				nav?.setAttribute(
					'class',
					'fixed visible max-h-[80px] opacity-100 bg-primary p-0 w-screen fixed bottom-0 z-50 transition-all duration-300 ease-in',
				);
			}
		});
	};

	const welcome = document.getElementById('welcome');
	if (welcome) {
		const observer = new IntersectionObserver(handleIntersection);
		observer.observe(welcome);
	}
</script>

<Main>
	<div class="flex flex-col justify-center items-center pb-[60px] md:pb-[80px]">
		<section
			id="welcome"
			class="bg-primary min-h-screen flex justify-center items-center relative"
		>
			<Welcome documentCount={documentCount} />
		</section>

		<section id="nav" class="bg-primary p-0 w-screen fixed top-0 z-50">
			<Navbar />
		</section>

		<section id="event-reasons" class="bg-[#F8EB54]">
			<EventReason client:load />
		</section>

		<section id="petition" class="bg-secondary-focus">
			<Petition client:load />
		</section>

		<section id="table-register">
			<TableRegister />
		</section>

		<section class="bg-base-200">
			<Partner />
		</section>
	</div>
</Main>
