---
import Main from '../layouts/main.astro';
import LocationList from '../components/location-list.svelte';
---

<Main>
	<section>
		<a href="/" class="mb-3.5 flex flex-row gap-0.5 underline items-center px-2 h-[24px] max-w-2xl mx-auto">
			<svg width="16" height="16" viewBox="0 0 16 16" fill="none">
				<rect width="16" height="16" fill="white"></rect>
				<path
					d="M7 13L7.705 12.295L3.915 8.5H14V7.5H3.915L7.705 3.705L7 3L2 8L7 13Z"
					fill="#8054FF"></path>
			</svg>
			<span class="link-01 text-accent h-4">กลับหน้าหลัก</span>
		</a>
	</section>
	<section>
		<div>
			<LocationList client:load />
		</div>
	</section>
</Main>
