---
import Main from '../layouts/main.astro';
import LocationList from '../components/location-list.svelte';
---

<Main>
	<a href="/" class="mb-6 flex flex-row gap-1 underline items-center">
		<svg width="16" height="16" viewBox="0 0 16 16" fill="none">
			<rect width="16" height="16" fill="white"></rect>
			<path
				d="M7 13L7.705 12.295L3.915 8.5H14V7.5H3.915L7.705 3.705L7 3L2 8L7 13Z"
				fill="black"></path>
		</svg>
		<span>กลับหน้าหลัก</span>
	</a>
	<LocationList client:load />
</Main>
