---
import Main from '../layouts/main.astro';
import LocationList from '../components/location-list.svelte';
import HomeButton from '../components/home-button.svelte';
---

<Main>
	<section>
		<HomeButton />
	</section>
	<section>
		<div>
			<LocationList client:load />
		</div>
	</section>
</Main>
