---
import HomeButton from '../components/home-button.svelte';
import Main from '../layouts/main.astro';
---

<Main>
	<section>
		<HomeButton />
	</section>
	<section>
		<div class="space-y-8">
			<h1 class="heading-responsive-01">
				นโยบายการคุ้มครองข้อมูลส่วนบุคคล (Privacy Policy)
			</h1>

			<p>
				กลุ่มประชาชนร่างรัฐธรรมนูญ
				ผู้ดำเนินการรวบรวมรายชื่อเพื่อเสนอคำถามประชามติต่อคณะรัฐมนตรีเคารพความเป็นส่วนตัวและตระหนักถึงความสำคัญของการคุ้มครองข้อมูลส่วนบุคคลของผูที่ร่วมลงชื่อทุกคน
				จึงมีนโยบายเพื่อชี้แจงรายละเอียดและวิธีการจัดเก็บรวบรวม การใช้
				และการเปิดเผยข้อมูลส่วนบุคคล ดังต่อไปนี้
			</p>

			<ol class="space-y-3 list-decimal ml-4">
				<li>
					กลุ่มประชาชนร่างรัฐธรรมนูญ
					จะทำการเก็บรวบรวมข้อมูลส่วนบุคคลโดยมีวัตถุประสงค์เฉพาะเพื่อการเสนอคำถามประชามติต่อคณะรัฐมนตรีเท่านั้น
					ซึ่งคำถามที่เสนอในกิจกรรมนี้ คือ "ท่านเห็นชอบหรือไม่
					ว่ารัฐสภาต้องแก้ไขรัฐธรรมนูญ พ.ศ. 2560
					เพื่อจัดทำรัฐธรรมนูญใหม่ทั้งฉบับ โดยสมาชิกสภาร่างรัฐธรรมนูญ (สสร.)
					ที่มาจากการเลือกตั้งของประชาชน”
				</li>
				<li>
					ข้อมูลส่วนบุคคลที่เก็บรวบรวมในกิจกรรมนี้ได้แก่ ชื่อ นามสกุล
					หมายเลขประจำตัวประชาชน และลายเซ็นของผู้ร่วมเข้าชื่อแต่ละคนเท่านั้น
					ไม่เก็บข้อมูลอื่น โดยเป็นการดำเนินการภายใต้ความยินยอมของเจ้าของข้อมูล
				</li>
				<li>
					ผู้เก็บรวบรวมข้อมูลจะเก็บข้อมูลของเจ้าของข้อมูลคนหนึ่งๆ
					ในรูปแบบข้อมูลบนกระดาษแบบฟอร์มการเข้าชื่อ
					หรือไฟล์ที่ระบุข้อมูลจากระบบอิเล็กทรอนิกส์ อย่างใดอย่างหนึ่งเท่านั้น
					และจะเก็บรักษาไว้จนได้รายชื่อประชาชนครบ 50,000 รายชื่อ
					ก็จะนำรายชื่อและข้อมูลทั้งหมดส่งมอบให้กับสำนักงานคณะกรรมการการเลือกตั้ง
					(กกต.) ซึ่งเป็นขั้นตอนตามพ.ร.บ.ว่าด้วยการจัดทำประชามติ พ.ศ.2564
					เมื่อนำข้อมูลทั้งหมดส่งมอบไปแล้ว
					กลุ่มประชาชนร่างรัฐธรรมนูญในฐานะผู้เก็บรวบรวมข้อมูลจะไม่เก็บข้อมูลส่วนบุคคลใดๆ
					ไว้กับตัวอีก
					สำหรับข้อมูลที่เป็นระบบอิเล็กทรอนิกส์จะเก็บสำเนาไว้จนกระทั่งข้อเสนอคำถามประชามติได้รับการพิจารณาโดยคณะรัฐมนตรี
					หลังจากนั้นไม่ว่าผลการพิจารณาเป็นเช่นใด ข้อมูลทั้งหมดก็จะถูกทำลาย
				</li>
				<li>
					ในระหว่างที่ข้อมูลส่วนบุคคลอยู่ในความดูแลของกลุ่มประชาชนร่างรัฐธรรมนูญจนกระทั่งส่งมอบให้สำนักงานคณะกรรมการการเลือกตั้ง
					ข้อมูลทั้งหมดนี้จะเก็บเป็นความลับและไม่ถูกเผยแพร่ไปยังบุคคลภายนอก
					โดยไม่มีเงื่อนไข เจ้าหน้าที่ที่รับผิดชอบเก็บข้อมูลทางระบบออนไลน์ คือ
					ทีมงานของ Wevis เจ้าหน้าที่ที่รับผิดชอบเก็บข้อมูลในระบบกระดาษ คือ
					ทีมงานของ iLaw ไม่มีบุคคลภายนอกที่อาจเข้าถึงข้อมูลชุดดังกล่าวได้
				</li>
				<li>
					เจ้าของข้อมูลส่วนบุคคล มีสิทธิที่จะขอถอนการลงชื่อ
					หรือถอนสิทธิที่จะให้เก็บข้อมูลทั้งหมดของท่านได้ตลอดเวลาที่ข้อมูลส่วนบุคคลของท่านยังไม่ถูกส่งให้สำนักงานคณะกรรมการการเลือกตั้ง
					ภายใต้ข้อจำกัดด้านการจัดการ กรณีที่ให้ข้อมูลมาในระบบกระดาษ
					และกระดาษแผ่นนั้นยังไม่ได้นำส่งมาถึงความครอบครองของเจ้าหน้าที่ iLaw
					ก็จะยังไม่สามารถปฏิบัติการให้ได้ตามคำขอในทันที
				</li>
			</ol>

			<p>
				หากเจ้าของข้อมูลต้องการติดต่อประสานงานเกี่ยวกับการจัดเก็บข้อมูล
				หรือการเพิกถอนความยินยอม สามารถติดต่อได้ทางอีเมล์
				[ilaw@ilaw.or.th](mailto:ilaw@ilaw.or.th) หรือโทร.099 678 6031
			</p>
		</div>
	</section>
</Main>
