---
import '../styles/fonts.css';
import '../styles/typography.css';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<title>ConForAll</title>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="ต้องการ 50,000 ชื่อ เสนอคำถามประชามติ สู่รัฐธรรมนูญใหม่"
		/>
		<meta property="og:title" content="เขียนใหม่ทั้งฉบับ เลือกตั้ง100%" />
		<meta
			property="og:description"
			content="ต้องการ 50,000 ชื่อ เสนอคำถามประชามติ สู่รัฐธรรมนูญใหม่"
		/>
		<meta property="og:image" content="/og.png" />

		<script
			type="text/partytown"
			defer
			data-domain="conforall.com"
			src="https://analytics.punchup.world/js/plausible.js"></script>
	</head>

	<body>
		<main class="body-03-normal">
			<slot />
		</main>
	</body>
</html>
